body {
  font-family: sans-serif;
  font-size: 12pt;

  margin: 0;
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

img {
    width: 30%;
}
nav {
  background-color: #e5921d;
  padding: 1em;
  grid-area: nav;
  justify-content: center;
}

header {
  background-color: #067e64df;
  padding: 1em;

  grid-area: header;
}

.grid-container {
  display: grid;
  justify-items: center;
  
}


main {
  background-color: #211fcd;
  padding: 1em;

  grid-area: main;
}

aside {
  background-color: #1eb952d6;
  padding: 1em;

  grid-area: aside;
}

footer {
  background-color: #b51785;
  padding: 1em;
  color: rgb(50, 13, 184);

  grid-area: footer;
}

section {
  background-color: #4ed429d4;
  padding: 3%;
}

h2,
p {
  padding: 0.3em;
}

/* form styling*/
form {
  background-color:#b8e986;
  padding: 0.4rem;
}

fieldset {
  background-color: #30d8b1;
  margin: 0.2rem;
}

button {
  padding: 0.2rem;
  margin-top: 0.5rem;
}

/* increase max-width if media query doesn't work */
@media (max-width: 500px) {
  body {
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}